
33/.idea/misc.xml
*.java
lab3/out/production/lab3/Gui$1.class
lab3/out/production/lab3/Cassa.class
lab3/out/production/lab3/Human.class
lab3/out/production/lab3/Gui.class
lab3/out/production/lab3/Kitchen.class
lab3/out/production/lab3/Main.class
project/build.properties
lab3/out/production/lab3/Order.class
33/.idea/modules.xml
33/.idea/workspace.xml
33/33.iml
33/out/production/33/src/Cass.class
33/out/production/33/src/Gui.class
33/out/production/33/src/Gui$1.class
33/out/production/33/src/Human.class
33/out/production/33/src/Kitchen.class
33/out/production/33/src/Main.class
3lab/.idea/misc.xml
3lab/.idea/modules.xml
3lab/.idea/workspace.xml
3lab/out/production/3lab/Cass.class
3lab/3lab.iml
3lab/out/production/3lab/Gui$1.class
3lab/out/production/3lab/Gui.class
3lab/out/production/3lab/Human.class
3lab/out/production/3lab/Kitchen.class
3lab/out/production/3lab/Main.class
3lab/out/production/3lab/Order.class
build.sbt
lab3/.idea/misc.xml
lab3/.idea/modules.xml
lab3/.idea/workspace.xml
lab3/lab3.iml
Test/files/Result.txt
33/out/production/33/src/Order.class
